<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Watch Collection</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <header class="navbar">
        <div class="container">
            <a href="/" class="logo">Tempus</a>
            <nav>
                <a href="/watches">Collection</a>
                <a href="/new">Add Watch</a>
                <% if (user) { %>
                    <a href="/auth/logout" class="btn logout">Logout</a>
                <% } else { %>
                    <a href="/auth/login" class="btn login">Login</a>
                <% } %>
            </nav>
        </div>
    </header>

    <section class="light-section">
        <h2 class="section-title">Your Timepieces</h2> <!-- Should be visible now -->
        <div class="section-content">
            <% if (watches.length > 0) { %>
                <% watches.forEach(watch => { %>
                    <div class="card">
                        <h3><%= watch.brand %> <%= watch.model %></h3>
                        <p>Reference: <%= watch.refNumber %></p>
                        <p>Serial Number: <%= watch.serialNumber %></p>
                        <p>DIal Color: <%= watch.dialColor %></p>
                        <p>Case Diameter: <%= watch.caseDiameter %></p>
                        <p>Case Material: <%= watch.caseMaterial %></p>
                        <a href="/watches/<%= watch._id %>" class="btn">View Details</a>
                    </div>
                <% }) %>
            <% } else { %>
                <p>You have no watches in your collection.</p>
            <% } %>
        </div>
    </section>

    <div class="footer">
        <p>&copy; 2024 Tempus. All Rights Reserved.</p>
    </div>
</body>
</html>